@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --color-primary-blue: hsl(223, 87%, 63%);
  --color-secondary-blue: hsl(223, 100%, 88%);
  --color-secondary-red: hsl(354, 100%, 66%);

  --color-neutral-gray: hsl(0, 0%, 59%);
  --color-neutral-blue: hsl(209, 33%, 12%);
}

@layer base {
  body {
    font-size: 20px;
    font-family: "Libre Franklin", sans-serif;
  }
}
